
body {
    background-color: lavender;
    text-align: center;
    color:slateblue;
    font-family: 'Nunito', sans-serif;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto; 
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color:blanchedalmond;
    border: 10px solid whitesmoke;
    border-radius: 6px;
}

.el {
    padding: 40px;
    text-align: center;
    border: solid whitesmoke 2px;
    background-color: thistle;
    height: 50px;
    width: 50px;
    
}


.container {
   display: grid;
   justify-content: center;
   grid-template-columns: auto 10px auto ;
  

}

@media (max-width: 760px) {
    .grid-container {
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto; 
        font-size: 10px;

     }

     .el {
        padding: 10px;
        text-align: center;
        border: solid whitesmoke 2px;
        background-color: thistle;
        height: 30px;
        width: 30px;
        
    }

   }
