
body {
    background-color: lavender;
    text-align: center;
    color:slateblue;
    font-family: 'Nunito', sans-serif;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50x 50px 50x; 
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: coral;
    
}

.el {
    padding: 40px;
    text-align: center;
    border: solid whitesmoke 1px;
    border-radius: 1vmin;
    background-color: thistle;
    height: 50px;
    width: 50px;
    
}

